<nav class="navbar">
  <div class="container">
    <!-- Brand/Logo -->
    <div class="brand">
      <a routerLink="/">
        <i class="fa-solid fa-bicycle"></i>
        <span class="logo-text">FitFury</span>
      </a>
    </div>

    <!-- Navigation Links -->
    <div class="nav-container">
      <div class="nav-links">
        <a routerLink="/workouts">Workouts</a>
        <a routerLink="/nutrition">Nutrition</a>
        <a routerLink="/pricing">Pricing</a>
        <a routerLink="/about">About</a>
        <a routerLink="/register" class="cta-button">Claim Free Trial</a>
      </div>
    </div>
  </div>
</nav>